<h1>Display your Pirate here</h1>
<p>Name: <%= @pirate.name %> </p>
<p>Weight: <%= @pirate.weight %> </p>
<p>Height: <%= @pirate.height %> </p>


<h2>Display your first ship here</h2>
<p>Ship Name 1: <%= @ships[0].name %></p>
<p>Ship Type 1: <%= @ships[0].type %></p>
<p>Ship Booty 1: <%= @ships[0].booty %></p>
<h2>Display your second ship here</h2>
<p>Ship Name 2: <%= @ships[1].name %></p>
<p>Ship Type 2: <%= @ships[1].type %></p>
<p>Ship Booty 2: <%= @ships[1].booty %></p>
